# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.elf
*.lst
*.eep
*.lss
*.hex
*.map
*.sym
*.d

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
qt/*Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

#dolphin file manager
.directory
# Code Recommenders
.recommenders/

qt/builds
qt/project/libs/build/

imageCreator/builds
imageCreator/project/libs/build/
vc.h

qt/project/libs/rpc/doc
qt/project/libs/rpc/src/server/generated_app/
qt/project/libs/rpc/src/client/generated_app/
qt/project/libs/rpc/include/rpc_transmission/server/generated_general/
qt/project/libs/rpc/include/rpc_transmission/client/

mcu/modules/rpc/doc
mcu/modules/rpc/src/server/generated_app/
mcu/modules/rpc/src/client/generated_app/
mcu/modules/rpc/include/rpc_transmission/server/generated_general/
mcu/modules/rpc/include/rpc_transmission/client/
STM32L1xx_StdPeriph_Lib_V1.3.1
/mcu/bootloaderconfig/key/aes_256_key.c
