[submodule "mcu/libs/RPC-ChannelCodec"]
	path = mcu/libs/RPC-ChannelCodec
	url = https://github.com/Crystal-Photonics/RPC-ChannelCodec.git 
[submodule "RPC-Generator"]
	path = RPC-Generator
	url = https://github.com/Crystal-Photonics/RPC-Generator.git


[submodule "mcu/modules/RPC-ChannelCodec"]

	path = mcu/modules/RPC-ChannelCodec
	url = https://github.com/Crystal-Photonics/RPC-ChannelCodec.git
[submodule "qt"]
	path = qt
	url = https://github.com/pioupus/rpcQtTemplate.git
