[submodule "project/libs/RPC-ChannelCodec"]
	path = project/libs/RPC-ChannelCodec
	url = https://github.com/Crystal-Photonics/RPC-ChannelCodec.git
[submodule "project/libs/qtserialport"]
	path = project/libs/qtserialport
	url = git://code.qt.io/qt/qtserialport.git
[submodule "project/libs/googletest"]
	path = project/libs/googletest
	url = https://github.com/google/googletest.git
